@media (width >= 700px) {
  /* ---------- DESKTOP GENERAL ---------- */
  body {
    height: 100vh;
    width: 100vw;
    background-color: #16161D;
    margin: 0rem;
    overflow-x: hidden;
    user-select: none;
  }

  p {
    color: #C5C5D2;
    font-size: 5vh;
    font-family: "Lucida Console", "Monaco", monospace;
    font-weight: 100;
    margin: 0rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  .body-text {
    font-size: 2vh;
    padding: 25px;
    text-transform: none;
  }


  /* ---------- DESKTOP HOME PAGE ---------- */

  #preview-track {
    display: flex;
    gap: 4vmin;
    position:absolute;
    left: 100%;
    top: 44%;
    transform: translate(0%, -50%);
  }

  #preview-track a {
    text-decoration: none;
  }

  .card {
    max-height: 56vmin;
  }

  .card-image {
    width: 40vmin;
    min-width: 315px;
    height: 56vmin;
    min-height: 440px;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 5%;
  }

  .card img {
    transition: transform .3s;
    transition-property: transform, opacity;
    transition-duration: .3s;
    -ms-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .popup-text {
    position:relative;
    opacity: 0%;
    bottom: 75px;
    text-align: center;
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
  }

  .card:hover .popup-text {
    opacity: 100%;
    pointer-events: auto;
  }

  .card:hover img {
    transform: translateY(-100px);
    opacity: 30%;
  }


  /* ---------- DESKTOP COOKIE ---------- */

  #cookie-jar {
    width: 25%;
    max-width: 300px;
    height: auto;
    right: 2%;
    top: -300px;
    position:absolute;
    background-color: #6161D8;
    border-radius: 0% 0% 10% 10%;
    text-align: center;
    border: 2px solid #C5C5D2;
    transition: top 0.5s ease-in-out;
  }

  #cookie-jar.show {
    top: -10px;
  }

  #cookie-jar:hover .cookie-image {
    transform: scale(1.1);
  }
  .cookie-text {
    padding: 20px 0px;
    font-size: 1.5vmin;
    text-transform: none;
  }

  .cookie-image {
    width: 45%;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }


  /* ---------- DESKTOP PROJECT PAGES ---------- */

  nav {
    background-color: #16161D;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-top: 50px;
    font-family: "Lucida Console", "Monaco", monospace;
    text-transform: uppercase;
  }

  nav a {
    font-size: x-large;
    color: #C5C5D2;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    transition: transform .2s
  }

  nav a:hover {
    transform: scale(1.1);
  }

  .example-images {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: transform .2s;
  }
  .example-images:hover {
    transform: scale(1.05);
  }

  .example-videos {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  .content-container {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    margin: auto;
  }

  #project-title {
    text-align: center;
  }

  .contact {
    text-align: center;
  }
}






@media (width < 700px) {
  /* ---------- MOBILE GENERAL ---------- */

  body {
    background-color: #16161D;
    margin: 0rem;
  }

  p {
    color: #C5C5D2;
    font-size: 2vh;
    font-family: "Lucida Console", "Monaco", monospace;
    font-weight: 100;
    margin: 0rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  .body-text {
    color: #C5C5D2;
    font-size: 1vh;
    padding: 25px;
    font-weight: 100;
  }


  /* ---------- MOBILE HOME PAGE ---------- */

  #preview-track {
    display: block;
    margin: 100px auto;
    width: 90%;
  }

  #preview-track a {
    color: #C5C5D2;
  }

  .card {
    text-align: center;
    padding-bottom: 200px;
  }


  .card-image {
    width: 70%;
    min-width: 300px;;
    object-fit: cover;
  }

  .popup-text {
    padding: 15px;
    position:relative;
    text-align: center;
  }


  /* ---------- MOBILE COOKIE ---------- */

  #cookie-jar {
    display: none;
  }


  /* ---------- MOBILE PROJECT PAGES ---------- */

  nav {
    background-color: #16161D;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-top: 50px;
    font-family: "Lucida Console", "Monaco", monospace;
    text-transform: uppercase;
  }

  nav a {
    font-size: 5vmin;
    color: #C5C5D2;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
  }

  .example-images {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .example-videos {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  .content-container {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    margin: auto;
  }

  .contact {
    text-align: center;
  }
}